@import url('../../base.css');

.favorites-container__light,
.favorites-container__dark {
  width: 1050px;
  height: 620px;
  padding: 15px;
  margin-top: 70px;
  border-radius: 6px;
}

.favorites-container__light {
  background: var(--theme-one-first-color);
}

.favorites-container__dark {
  background: var(--theme-two-first-color);
}

.favorites-header__light,
.favorites-header__dark {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 20px;
}

.favorites-header__light h2,
.favorites-header__dark h2 {
  font-size: 1.8rem;
}

.favorites-header__light h2 {
  color: var(--theme-one-fourth-color);
}

.favorites-header__dark h2 {
  color: var(--theme-one-second-color);
}

.favorites-header__light button,
.favorites-header__dark button {
  font-size: 17px;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.favorites-header__light button {
  color: var(--theme-one-first-color);
  background-color: var(--theme-one-fourth-color);
}

.favorites-header__dark button {
  color: var(--theme-one-second-color);
  background: var(--theme-two-fourth-color);
}

.favorites-header__light button:hover {
  background: linear-gradient(40deg, var(--theme-one-fourth-color) 35%, var(--theme-one-third-color));
}

.favorites-header__dark button:hover {
  background: linear-gradient(40deg, var(--theme-two-fourth-color) 45%, var(--theme-two-third-color));
  border: 1px solid var(--theme-one-sixth-color);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .favorites-container__light,
  .favorites-container__dark {
    width: 950px;
  }
}