@import url('../../base.css');

.favorites-list {
  width: 100%;
  height: 525px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-item__light,
.list-item__dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.list-item__light:not(:last-child) {
  border-bottom: 1px solid var(--theme-one-fourth-color);
}

.list-item__dark:not(:last-child) {
  border-bottom: 1px solid var(--theme-one-seventh-color);
}

.contact-info-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-info-container img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.contact-icon__light,
.contact-icon__dark {
  font-size: 45px;
}

.contact-icon__light {
  color: var(--theme-one-fourth-color);
}

.contact-icon__dark {
  color: var(--theme-two-sixth-color);
}

.list-item__light a,
.list-item__dark a {
  font-size: 19px;
  padding: 10px;
}

.list-item__light a {
  color: var(--theme-one-fourth-color);
}

.list-item__dark a {
  color: var(--theme-one-second-color);
}

.list-item__light a:hover {
  color: var(--theme-one-third-color);
}

.list-item__dark a:hover {
  color: var(--theme-two-sixth-color);
}

.x-mark-icon__light,
.x-mark-icon__dark {
  font-size: 24px;
  cursor: pointer;
}

.x-mark-icon__light {
  color: var(--theme-three-first-color);
}

.x-mark-icon__dark {
  color: var(--theme-three-third-color);
}

.empty-list__light,
.empty-list__dark {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.empty-list__dark {
  color: var(--theme-one-second-color);
}

@media screen and (max-width: 480px) {
  .favorites-list {
    height: 75vh;
  }

  .list-item__light,
  .list-item__dark {
    height: 46px;
  }

  .contact-info-container {
    gap: 0;
  }
  
  .contact-info-container img {
    width: 40px;
    height: 40px;
  }
  
  .contact-icon__light,
  .contact-icon__dark {
    font-size: 40px;
  }
  
  .list-item__light a,
  .list-item__dark a {
    font-size: 17px;
  }
  
  .x-mark-icon__light,
  .x-mark-icon__dark {
    font-size: 21px;
  }
  
  .empty-list__light,
  .empty-list__dark {
    font-size: 16px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .list-item__light,
  .list-item__dark {
    height: 46px;
  }

  .contact-info-container {
    gap: 0;
  }
  
  .contact-info-container img {
    width: 40px;
    height: 40px;
  }
  
  .contact-icon__light,
  .contact-icon__dark {
    font-size: 40px;
  }
  
  .list-item__light a,
  .list-item__dark a {
    font-size: 17px;
  }
  
  .x-mark-icon__light,
  .x-mark-icon__dark {
    font-size: 21px;
  }
  
  .empty-list__light,
  .empty-list__dark {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .list-item__light,
  .list-item__dark {
    height: 50px;
  }
  
  .contact-info-container {
    gap: 3px;
  }

  .contact-info-container img {
    width: 42px;
    height: 42px;
  }

  .contact-icon__light,
  .contact-icon__dark {
    font-size: 42px;
  }
  
  .list-item__light a,
  .list-item__dark a {
    font-size: 18px;
  }

  .x-mark-icon__light,
  .x-mark-icon__dark {
    font-size: 22px;
  }
  
  .empty-list__light,
  .empty-list__dark {
    font-size: 17px;
  }
}