.favorites-container {
  background: aliceblue;
  width: 1050px;
  height: 620px;
  padding: 15px;
  margin-top: 70px;
  border-radius: 6px;
}

.favorites-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 20px;
}

.favorites-list {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.favorites-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.contact-icon {
  font-size: 38px;
}

.favorites-list a {
  font-size: 19px;
}