@import url('../../base.css');

.list__light,
.list__dark {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 100vh;
  z-index: 20;
  backdrop-filter: blur(5px);
}

.list__light {
  background: rgba(219, 226, 239, 0.5);
}

.list__dark {
  background: rgba(32, 35, 42, 0.5);
}

.list__light li,
.list__dark li {
  width: 140px;
  padding: 5px;
  border-radius: 8px;
}

.list__light li {
  background: rgba(219, 226, 239, 0.2);
  border: 1px solid rgba(219, 226, 239, 0.1);
}

.list__dark li {
  background: rgba(32, 35, 42, 0.3);
  border: 1px solid rgba(13, 17, 23, 0.2);
}

.list__light a,
.list__dark a {
  font-size: 24px;
  display: flex;
  gap: 15px;
}

.list__light a {
  color: var(--theme-one-fourth-color);
}

.list__dark a {
  color: var(--theme-one-second-color);
}

.list__light .active {
  color: var(--theme-two-third-color);
}

.list__dark .active {
  color: var(--theme-two-sixth-color);
}