@import url('../../base.css');

.header__light,
.header__dark {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 20px;
  z-index: 15;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

.header__light {
  background: var(--theme-one-fourth-color);
}

.header__dark {
  background: var(--theme-two-fourth-color);
}

.app-name__light,
.app-name__dark {
  font-size: 2rem;
  font-weight: 600;
}

.app-name__light {
  color: var(--theme-one-first-color);
}

.app-name__dark {
  color: var(--theme-two-third-color);
}

.app-name__dark:hover {
  color: var(--theme-one-second-color)
}

.list {
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 26px;
  height: 100%;
}

.list a {
  color: var(--theme-one-second-color);
  padding: 0 5px;
}

.list a:hover,
.list a.active {
  color: var(--theme-one-fifth-color);
  text-decoration: underline;
}

.theme-button {
  background: transparent;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.sun-icon,
.moon-icon {
  font-size: 20px;
}

.sun-icon {
  color: var(--theme-one-fifth-color);
}

.moon-icon {
  color: var(--theme-two-sixth-color);
}