.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: antiquewhite;
  height: 80px;
  width: 100%;
  padding: 20px;
  z-index: 15;
  opacity: 0.2;
}

.list {
  font-size: 17px;
  display: flex;
  gap: 26px;
}

.list a {
  color: royalblue;
}

.list a:hover,
.list a.active {
  color: blueviolet;
  text-decoration: underline;
}
