@import url('../../base.css');

.description-container__light,
.description-container__dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  text-align: center;
}

.description-container__light {
  background: var(--theme-one-second-color);
}

.description-container__dark {
  background: var(--theme-two-first-color);
}

.description-container__light h2,
.description-container__dark h2 {
  font-size: 29px;
  margin-bottom: 10px;
}

.description-container__light h2 {
  color: var(--theme-one-fourth-color);
}

.description-container__dark h2 {
  color: var(--theme-two-third-color);
}

.introduction-container__light,
.introduction-container__dark {
  width: 1000px;
  margin-top: 100px;
}

.introduction-container__light p,
.introduction-container__dark p {
  font-size: 1.3rem;
}

.introduction-container__dark p {
  color: var(--theme-one-second-color);
}

.benefits-container__light,
.benefits-container__dark {
  display: flex;
  gap: 30px;
  width: 100%;
}

.benefits-section__light,
.benefits-section__dark {
  width: 280px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transform: translateY(2px);
  transition: 0.4s ease-in-out;
}

.benefits-section__light {
  background: var(--theme-one-first-color);
}

.benefits-section__dark {
  background: var(--theme-two-second-color);
}

.benefits-section__light:hover,
.benefits-section__dark:hover,
.testimonials-container__light li:hover,
.testimonials-container__dark li:hover {
  transform: translateY(-4px);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.benefits-section__light:hover,
.benefits-section__dark:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.benefits-section__light h3,
.benefits-section__dark h3 {
  color: #EEEEEE;
  background: #233B6E;
  padding: 8px;
  border-radius: 6px 6px 0 0;
}

.benefits-section__light p,
.benefits-section__dark p {
  font-size: 1.1rem;
  padding: 12px;
}

.benefits-section__light p {
  color: var(--theme-one-fourth-color);
}

.benefits-section__dark p {
  color: var(--theme-one-second-color);
}

.testimonials {
  width: 920px;
  margin-bottom: 60px;
}

.testimonials-container__light,
.testimonials-container__dark {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.testimonials-container__light li,
.testimonials-container__dark li {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transform: translateY(2px);
  transition: 0.4s ease-in-out;
}

.testimonials-container__light li {
  background: var(--theme-one-first-color);
}

.testimonials-container__dark li {
  color: var(--theme-one-second-color);
  background: var(--theme-two-second-color);
}

.testimonials-container__light h4,
.testimonials-container__dark h4 {
  margin-bottom: 2px;
}

.testimonials-container__light h4 {
  color: #233B6E;
} 

.testimonials-container__dark h4 {
  color: var(--theme-two-third-color);
} 

.testimonials-container__light span,
.testimonials-container__dark span {
  margin-top: 5px;
  text-align: right;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .description-container__light h2,
  .description-container__dark h2 {
    font-size: 27px;
  }

  .introduction-container__light,
  .introduction-container__dark {
    width: 900px;
  }
  
  .introduction-container__light p,
  .introduction-container__dark p {
    font-size: 1.2rem;
  }

  .benefits-section__light,
  .benefits-section__dark {
    width: 220px;
  }

  .benefits-section__light p,
  .benefits-section__dark p {
    font-size: 1.05rem;
  }

  .testimonials {
    width: 900px;
  }

  .testimonials-container__light span,
  .testimonials-container__dark span {
    font-size: 16px;
  }
}