@import url('../../base.css');

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  background: var(--theme-one-second-color);
  text-align: center;
}

.description-container h2 {
  font-size: 29px;
  color: var(--theme-one-fourth-color);
  margin-bottom: 10px;
}

.introduction-container {
  width: 1000px;
  margin-top: 100px;
}

.introduction-container p {
  font-size: 1.3rem;
}

.benefits-container {
  display: flex;
  gap: 30px;
  width: 100%;
}

.benefits-section {
  background: var(--theme-one-first-color);
  width: 280px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transform: translateY(2px);
  transition: 0.4s ease-in-out;
}

.benefits-section:hover,
.testimonials-container li:hover {
  transform: translateY(-4px);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.benefits-section:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.benefits-section h3 {
  color: #EEEEEE;
  background: #233B6E;
  padding: 8px;
  border-radius: 6px 6px 0 0;
}

.benefits-section p {
  font-size: 1.1rem;
  color: var(--theme-one-fourth-color);
  padding: 12px;
}

.testimonials {
  width: 920px;
  margin-bottom: 60px;
}

.testimonials-container {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.testimonials-container li {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background: var(--theme-one-first-color);
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transform: translateY(2px);
  transition: 0.4s ease-in-out;
}

.testimonials-container h4 {
  color: #233B6E;
  margin-bottom: 2px;
}

.testimonials-container span {
  text-align: right;
}