@import url('../../base.css');

.footer__light,
.footer__dark {
  width: 100%;
  padding: 20px 60px 25px;
  text-align: center;
}

.footer__light {
  background: var(--theme-one-fourth-color);
}

.footer__dark {
  background: var(--theme-two-fourth-color);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.footer-section {
  padding: 0 10px;
}

.footer-section h2 {
  font-size: 1.6rem;
  color: var(--theme-one-fifth-color);
  margin-bottom: 5px;
}

.footer-section li {
  text-align: left;
  margin-bottom: 6px;
}

.footer-section a {
  color: #C2CFD8;
}

.footer-section a:hover {
  color: var(--theme-one-first-color);
}

.contact-icon {
  font-size: 18px;
  color: var(--theme-one-sixth-color);
  margin-right: 8px;
}

.social-container-list {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-top: 10px;
}

.social-icon {
  font-size: 32px;
  color: rgba(249, 247, 247, 0.5);
}

.social-icon:hover {
  color: rgba(249, 247, 247, 0.8);
  cursor: pointer;
}

.copyright {
  color: rgba(249, 247, 247, 0.8);
}

.copyright b {
  color: var(--theme-one-fifth-color);
}