:root {
  --theme-one-first-color: #F9F7F7;
  --theme-one-second-color: #DBE2EF;
  --theme-one-third-color: #3F72AF;
  --theme-one-fourth-color: #112D4E;
  --theme-one-fifth-color: #E3C4A8;
  --theme-one-sixth-color: #9BA4B4;
  --theme-one-seventh-color: rgba(219, 226, 239, 0.4);

  --theme-error-first-color: #921224;
  --theme-error-second-color: #FF7777;
} 