.contact-list {
  width: 100%;
  height: 310px;
  overflow-y: auto;
  overflow-x: hidden;
}

.contact-list li {
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.favorite-icon {
  color: red;
}