@import url('../../base.css');

.contacts-container {
  background: #F9F7F7;
  width: 1050px;
  height: 625px;
  padding: 15px;
  margin-top: 70px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.contacts-header {
  margin-bottom: 20px;
}

.contacts-header h2 {
  font-size: 1.8rem;
  padding: 5px 0;
  text-align: left;
}

.contacts-header__actions {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 0;
}

.contacts-header__actions input {
  font-size: 18px;
  color: var(--theme-one-fourth-color);
  background: var(--theme-one-second-color);
  width: 430px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}

.contacts-header__actions a {
  font-size: 1.1rem;
  color: var(--theme-one-first-color);
  background-color: var(--theme-one-fourth-color);
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
}

.contacts-header__actions a:hover {
  background: linear-gradient(40deg, var(--theme-one-fourth-color) 35%, var(--theme-one-third-color));
}

.contact-no-found {
  color: var(--theme-one-fourth-color);
  height: 310px;
  text-align: center;
}

.search-icon {
  font-size: 45px;
}