@import url('../../base.css');

.contact-container {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-one-first-color);
  width: 620px;
  height: 520px;
  margin-top: 70px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.contact-actions {
  display: flex;
  justify-content: space-between;
  height: 28px;
  margin-bottom: 10px;
}

.contact-actions__manipulate {
  display: flex;
  justify-content: space-between;
  width: 128px;
}

.contact-actions button, 
.contact-actions a,
.contact-links a {
  color: var(--theme-one-fourth-color);
  background-color: var(--theme-one-second-color);
  border: 1.5px solid var(--theme-one-fourth-color);  
  border-radius: 6px;
}

.contact-actions button:hover, 
.contact-actions a:hover,
.contact-links a:hover {
  color: var(--theme-one-third-color);
  border: 1.5px solid var(--theme-one-third-color);
}

.contact-actions button, 
.contact-actions a {
  font-size: 16px;
  height: 100%;
}

.contact-actions a {
  background-color: var(--theme-one-second-color);
  width: 60px;
  text-align: center;
  padding-top: 4px;
}

.contact-actions button {
  width: 60px;
  cursor: pointer;
}

.back-icon {
  font-size: 18px;
}

.information-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.contact-icon {
  font-size: 90px;
  color: var(--theme-one-fourth-color);
}

.contact-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.basic-information {
  background: var(--theme-one-seventh-color);
  text-align: center;
  padding: 5px 0;
}

.basic-information h2 {
  font-size: 2rem;
  color: var(--theme-one-fourth-color);
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contact-links a {
  width: 80px;
  height: 30px;
  padding: 5px 10px;
}

.contact-links .email-disabled,
.contact-links .email-disabled:hover {
  color: var(--theme-one-first-color);
  background: var(--theme-one-sixth-color);
  border: none;
  cursor: not-allowed;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: var(--theme-one-seventh-color);
  padding: 10px;
}

.contact-info-section span,
.extra-info-section span {
  font-size: 18px;
  color: var(--theme-one-fourth-color);
}

.contact-info-section p {
  margin-top: 5px;
}

.extra-information {
  display: flex;
  justify-content: space-between;
}

.extra-info-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 230px;
  padding: 0 10px;
}

.delete-information h2, 
.delete-information p {
  text-align: center;
}

.delete-information h2 {
  font-size: 1.8rem;
  color: var(--theme-one-first-color);
  background: var(--theme-error-first-color);
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 6px 6px 0 0;
}

.delete-information p {
  font-size: 18px;
  line-height: 21px;
}

.delete-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 12px;
}

.delete-actions button {
  font-size: 15px;
  width: 65px;
  height: 26px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.delete-actions button:first-child {
  background: transparent;
}

.delete-actions button:last-child {
  color: #fff;
  background: var(--theme-error-first-color);
}

.delete-actions button:last-child:hover {
  background: linear-gradient(20deg, var(--theme-error-first-color) 45%, var(--theme-error-second-color));
  border: 1px solid var(--theme-error-first-color);
}