@import url('../../base.css');

.contact-list {
  width: 100%;
  height: 310px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-item__light,
.list-item__dark {
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding: 10px 12px 10px 5px;
  margin-bottom: 5px;
  text-align: left;
}

.list-item__light:not(:last-child) {
  border-bottom: 1px solid var(--theme-one-fourth-color);
}

.list-item__dark:not(:last-child) {
  border-bottom: 1px solid var(--theme-one-seventh-color);
}

.list-item__light a,
.list-item__dark a {
  font-size: 1.1rem; 
}

.list-item__light a {
  color: var(--theme-one-fourth-color);
}

.list-item__dark a {
  color: var(--theme-one-first-color);
}

.list-item__light a:hover {
  color: var(--theme-one-third-color);
}

.list-item__dark a:hover {
  color: var(--theme-two-sixth-color);
}

.favorite-icon {
  color: #F0A04B;
  cursor: pointer;
}

.favorite-icon:hover {
  color: #F57B51;
}

.total-contacts__light,
.total-contacts__dark {
  text-align: center;
  margin-top: 15px;
}

.total-contacts__light {
  color: var(--theme-one-fourth-color);
}

.total-contacts__dark {
  color: var(--theme-one-second-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-one-sixth-color);
}

@media screen and (max-width: 480px) {
  .contact-list {
    height: 55vh;
  }
  
  .list-item__light,
  .list-item__dark {
    height: 32px;
  }
  
  .list-item__light a,
  .list-item__dark a {
    font-size: 17px; 
  }

  .favorite-icon {
    font-size: 14px;
  }

  .total-contacts__light,
  .total-contacts__dark {
    font-size: 14px;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .contact-list {
    height: 55vh;
  }
  
  .list-item__light,
  .list-item__dark {
    height: 32px;
  }
  
  .list-item__light a,
  .list-item__dark a {
    font-size: 17px; 
  }

  .favorite-icon {
    font-size: 14px;
  }

  .total-contacts__light,
  .total-contacts__dark {
    font-size: 14px;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {  
  .contact-list {
    height: 350px;
  }
  
  .list-item__light,
  .list-item__dark {
    height: 33px;
  }
  
  .list-item__light a,
  .list-item__dark a {
    font-size: 1rem; 
  }

  .favorite-icon {
    font-size: 15px;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
}