@import url('../../base.css');

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--theme-one-first-color);
  width: 620px;
  height: 520px;
  margin-top: 70px;
  padding: 20px 25px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.contact-photo-container, 
.contact-icon-container {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.contact-icon-container {
  flex-direction: column;
  background: var(--theme-one-seventh-color);
}

.contact-icon {
  font-size: 70px;
  color: var(--theme-one-fourth-color);
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.contact-icon:hover {
  color: var(--theme-one-third-color);
}

.contact-photo-container__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;
}

.contact-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.basic-information, 
.contact-information {
  display: flex;
  flex-direction: column;
}

.extra-information {
  display: flex;
  justify-content: space-between;
}

.extra-information-content {
  display: flex;
  flex-direction: column;
}

.extra-information-content:first-child {
  width: 355px;
}

.extra-information-content:last-child {
  width: 180px;
}

label {
  font-size: 18px;
  color: var(--theme-one-fourth-color);
  margin-bottom: 3px;
}

input {
  font-size: 16px;
  color: var(--theme-one-fourth-color);
  height: 28px;
  margin-bottom: 12px;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid var(--theme-one-fourth-color);
}

input:focus {
  background: var(--theme-one-seventh-color);
}

.favorite-marked {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  height: 28px;
}

.actions button {
  font-size: 16px;
  color: var(--theme-one-fourth-color);
  width: 70px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.actions button:first-child {
  background: transparent;
}

.actions button:first-child:hover {
  color: var(--theme-one-third-color);
}

.actions button:last-child {
  color: var(--theme-one-first-color);
  background: var(--theme-one-fourth-color);
}

.actions button:last-child:hover {
  background: var(--theme-one-third-color);
}

.invalid-form-information h2,
.invalid-form-information p {
  text-align: center;
}

.invalid-form-information h2 {
  font-size: 1.8rem;
  color: var(--theme-one-first-color);
  background: var(--theme-error-first-color);
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 6px 6px 0 0;
}

.invalid-form-information p {
  font-size: 18px;
}

.invalid-form-action {
  display: flex;
  justify-content: flex-end;
  margin: 12px;
}

.invalid-form-action button {
  font-size: 15px;
  color: #fff;
  background: var(--theme-error-first-color);
  width: 65px;
  height: 26px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.invalid-form-action button:hover {
  background: linear-gradient(20deg, var(--theme-error-first-color) 45%, var(--theme-error-second-color));
  border: 1px solid var(--theme-error-first-color);
}