.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aqua;
  width: 620px;
  height: 560px;
  margin-top: 70px;
  padding: 25px;
  border-radius: 6px;
}

.contact-photo-container, .contact-icon-container {
  display: flex;
  align-items: center;
}

.contact-icon-container {
  flex-direction: column;
}

.contact-icon {
  font-size: 70px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.contact-icon:hover {
  color: slateblue;
}

.contact-photo-container__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;
}

.contact-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.basic-information, 
.contact-information {
  display: flex;
  flex-direction: column;
}

.extra-information {
  display: flex;
  justify-content: space-between;
}

.extra-information-content {
  display: flex;
  flex-direction: column;
}

.extra-information-content:first-child {
  width: 355px;
}

.extra-information-content:last-child {
  width: 180px;
}

label {
  font-size: 17px;
  margin-bottom: 3px;
}

input {
  font-size: 16px;
  height: 28px;
  margin-bottom: 12px;
  padding: 2px 5px;
  border-radius: 3px;
}

.favorite-marked {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  height: 25px;
}

.actions button {
  font-size: 16px;
  width: 70px;
  border-radius: 6px;
  cursor: pointer;
}