@import url('../../base.css');

.profile-contact {
  display: flex;
  color: var(--theme-one-fourth-color);
  background: var(--theme-one-seventh-color);
  margin-bottom: 25px;
  padding: 5px;
}

.profile-contact img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-contact__info {
  padding: 15px;
}