@import url('../../base.css');

.profile-contact__light,
.profile-contact__dark {
  display: flex;
  margin-bottom: 25px;
  padding: 5px;
}

.profile-contact__light {
  color: var(--theme-one-fourth-color);
  background: var(--theme-one-seventh-color);
}

.profile-contact__dark {
  color: var(--theme-one-second-color);
  background: var(--theme-two-seventh-color);
}

.profile-contact__dark h2 {
  color: var(--theme-two-sixth-color)
}

.profile-contact__light img,
.profile-contact__dark img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-contact__info {
  padding: 15px;
}