@import url('../../base.css');

.login-header__light,
.login-header__dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.login-header__light {
  color: var(--theme-two-fourth-color);
}

.login-header__dark {
  color: var(--theme-one-second-color);
}

.login-header__light img,
.login-header__dark img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.login-header__light h1,
.login-header__dark h1 {
  font-size: 2.7rem;
  margin-bottom: 3px;
}

.login-header__dark h3 {
  color: var(--theme-two-sixth-color);
}

.login-header__light span,
.login-header__dark span {
  font-size: 13px;
  margin-left: 5px;
}

@media screen and (max-width: 480px) {
  .login-header__light img,
  .login-header__dark img {
    width: 170px;
    height: 170px;
  }

  .login-header__light h1,
  .login-header__dark h1 {
    font-size: 2.1rem;
  }

  .login-header__light h3,
  .login-header__dark h3 {
    font-size: 18px;
  }
  
  .login-header__light span,
  .login-header__dark span {
    font-size: 13px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .login-header__light img,
  .login-header__dark img {
    width: 180px;
    height: 180px;
  }

  .login-header__light h1,
  .login-header__dark h1 {
    font-size: 2.6rem;
  }
}