.code-indicator,
.code-indicator-active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.code-indicator {
  background: transparent;
  border: 1.4px solid var(--theme-one-first-color);
}

.code-indicator-active {
  background: var(--theme-one-first-color);
}