.code-indicator,
.code-indicator-active__light,
.code-indicator-active__dark {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.code-indicator {
  background: var(--theme-one-first-color);
  border: 1px solid var(--theme-one-fourth-color);
}

.code-indicator-active__light {
  background: var(--theme-one-third-color);
  border: 1.1px solid var(--theme-one-fourth-color);
}

.code-indicator-active__dark {
  background: #6899ca;
  border: 1.1px solid var(--theme-one-fourth-color);
}